* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 15px auto;
  padding: 0 10px;
  max-width: 650px;
}

label,
input[type="text"] {
  width: 100%;
  display: block;
  margin: 4px 0;
}

input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 6px 18px;
  font-size: 17px;
  background: #059862;
  border-radius: 5px;
  border: 0;
  color: #fff;
}

.captcha {
  margin-top: 10px;
}

.captcha img {
  border: 1px solid #ccc;
}

nav div {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #444;
  color: white;
}

.token {
  font-size: 18px;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}

.warning {
  border: 2px dotted maroon;
  border-radius: 3px;
  padding: 6px;
}
